/Build/*
!/Build/docker/
!/Build/ansible/
/Build/ansible/log/
/Configuration/*
!/Configuration/Routes.yaml
!/Configuration/Development
/Configuration/Development/*
!/Configuration/Development/Docker/
/Configuration/**/*.php

/Data/
/Packages/
/src/*
/Web/
/bin/
!/bin/*.sh
/Readme.rst
/Upgrading.rst
/flow
/flow.bat
bower_components/
node_modules/
.sass-cache/
npm-debug.log
.idea/
nbproject/
/logs/
/docker-compose.override.yml
preload.c
preload.so
yarn-error.log