!/Build/
/Build/*
!/Build/Environment/

application/language/*
!application/language/gr/

!/Configuration/
/Configuration/*
!/Configuration/Routes.yaml

/Data/
/Packages/
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat